<div class="my-orders">
    <h1 class="text-center"><span class="text-danger">~ </span>My Orders<span class="text-danger">~ </span></h1>
    <div class="col-8 px-5 py-4 mx-auto  border overflow-hidden">
        <div class="row">
            <div class="col-sm-2">
                <span>Order</span>
            </div>
            <div class="col-sm-2">
                <span>Order ID</span>
            </div>
            <div class="col-sm-2">
                <span>Price</span>
            </div>
            <div class="col-sm-2">
                <span>Status</span>
            </div>
            <div class="col-sm-2">
                <span>Action</span>
            </div>
            <div class="row mt-5" *ngFor="let order of orderData">
                <div class="col-sm-2">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <div class="col-sm-2">
                    <span>#{{order.id}}</span>
                </div>
                <div class="col-sm-2">
                    <span>{{order.totalPrice}}</span>
                </div>
                <div class="col-sm-2">
                    <!-- <span class="badge badge-pill badge-success">Success</span> -->
                    <!-- <a href="#" class="badge badge-success">Success</a> -->
                    <span class="badge bg-success">Progess</span>
                </div>
                <div class="col-sm-3">
                    <span><button class="form-button bg-danger border-0 outline-0 rounded px-3 text-white" (click)="cancelOrder(order.id)">Cancel Order</button></span>
                </div>
            </div>
        </div>
    </div>
   
</div>