@if (popularProducts) {
<ngb-carousel>
    <ng-template class="bg-danger" ngbSlide *ngFor="let item of BannerProducts">
        <div class="picsum-img-wrapper" class="nest">
            <img class="product-header-img" src="{{item.image}}" alt="Random first slide" loading="lazy" />
        </div>
    </ng-template>


</ngb-carousel>
}


<div class="product-list-wrapper">
    <h1 class="text-center mb-5"><span class="text-danger">~</span>Trendy Products <span class="text-danger">~</span>
    </h1>
    <div class="row wrapper">
        <div class="col-sm-5 col-md-3" *ngFor="let item of trendyProducts">
            <div class="product-item">
                <div class="image-wrapper">
                    <img src="{{item.image}}" loading="lazy" />
                </div>
                <div class="product-details">
                    <h6 class="name-head bg-light">{{item.name}}</h6>
                    <div
                        class="price-details rounded p-2 align-items-center  d-flex justify-content-center gap-5 flex-row">
                        <p class=" mb-0">Price : ${{item.price}}</p>
                        <p class="mb-0">Color : {{item.color}}</p>
                    </div>
                    <div class="product-footer d-flex flex-column">
                        <div class="d-flex align-content-center justify-content-center"> <span
                                class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                class="fas fa-star"></span> </div>
                        <div class="d-flex gap-4 justify-content-center ">
                            <a routerLink="details/{{item.id}}" class="btn">View Details</a>
                            <a routerLink="details/{{item.id}}" class="btn btn2">At to Cart</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>